# Ignore macOS specific files
._DS_Store
.DS_Store

# Python specific
*.pyc
__pycache__/*

# Jupyter notebook specific
.ipynb_checkpoints

# Ignore test files
test*

# IDE specific
.idea
.vscode
doc/calcium_oscillation.ipynb
